<?xml version="1.0"?>
<!--
/**
 * Ho_Setup
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the H&O Commercial License
 * that is bundled with this package in the file LICENSE_HO.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.h-o.nl/license
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to info@h-o.com so we can send you a copy immediately.
 *
 * @category    Ho
 * @package     Ho_Setup
 * @copyright   Copyright © 2013 H&O (http://www.h-o.nl/)
 * @license     H&O Commercial License (http://www.h-o.nl/license)
 * @author      Paul Hachmang – H&O <info@h-o.nl>
 *
 * 
 */
-->

<config>
	<modules>
		<Ho_Setup>
			<version>0.1.0</version>
		</Ho_Setup>
	</modules>
	<global>
		<blocks>
			<ho_setup>
				<class>Ho_Setup_Block</class>
			</ho_setup>
		</blocks>
		<helpers>
			<ho_setup>
				<class>Ho_Setup_Helper</class>
			</ho_setup>
		</helpers>
		<models>
			<ho_setup>
				<class>Ho_Setup_Model</class>
                <!--<resourceModel>ho_setup_resource</resourceModel>-->
			</ho_setup>
            <!--<ho_setup_resource>-->
                <!--<class>Ho_Setup_Model_Resource</class>-->
                <!--<entities>-->
                    <!--<tablename>-->
                        <!--<table>ho_setup_tablename</table>-->
                    <!--</tablename>-->
                <!--</entities>-->
            <!--</ho_setup_resource>-->
		</models>
        <resources>
            <ho_setup_setup>
                <setup>
                    <module>Ho_Setup</module>
                    <class>Ho_Setup_Model_Resource_Setup</class>
                </setup>
            </ho_setup_setup>
        </resources>
	</global>
	<default>
		<!--<ho_setup>-->
			<!--<group>-->
				<!--<variable>somevar</variable>-->
			<!--</group>-->
		<!--</ho_setup>-->w
	</default>
</config>